@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #ffe1e1;
    color: rgb(68, 68, 150);
}

/* Clase gradiente */
.bg-gradient-home {
    @apply bg-cover bg-center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(59, 130, 246, 0.7)), url('/src/assets/hero.jpeg');
}
